/*
 * We use the following color scheme:
 *
 * #3a9d6b - very light green
 * #1c8e54 - light green
 * #0d7340 - (Bitrig) green
 * #005a2d - dark green
 * #003d1e - very dark green
 */

.navbar-bitrig {
    background-color: #0d7340;
    border-radius: 0;
    border-width: 0 0 1px 0;
    border-color: #3a9d6b;
}

.navbar-bitrig .navbar-brand {
    padding: 0;
}

.navbar-bitrig .navbar-brand img {
    width: auto;
    height: 100%;
}

.navbar-bitrig .nav li a {
    color: white;
    font-weight: bold;
}

.navbar-bitrig .nav a:hover,
.navbar-bitrig .nav a:focus {
    background-color: #1c8354;
}

#footer {
    text-align: center;
    font-size: 90%;
    color: grey;
    margin: 10px 0;
}
